  <ion-view view-title="Kwiki" ng-controller="ChatCtrl">
    <ion-nav-buttons side="primary">
      <button class="button button-energized" ng-click="leaveChat()">
        Leave
      </button>
    </ion-nav-buttons>
    <ion-content>

    <img ng-src="../img/{{triggerWord}}.png" ng-class="{'trigger-word': triggerWord}" ng-style="style[0]" ng-if="trigger" class="slide">
    <img ng-src="../img/{{triggerWord}}.png" ng-class="{'trigger-word': triggerWord}" ng-style="style[1]" ng-if="trigger" class="slide">
    <img ng-src="../img/{{triggerWord}}.png" ng-class="{'trigger-word': triggerWord}" ng-style="style[2]" ng-if="trigger" class="slide">
    <img ng-src="../img/{{triggerWord}}.png" ng-class="{'trigger-word': triggerWord}" ng-style="style[3]" ng-if="trigger" class="slide">
    <img ng-src="../img/{{triggerWord}}.png" ng-class="{'trigger-word': triggerWord}" ng-style="style[4]" ng-if="trigger" class="slide">
    <img ng-src="../img/{{triggerWord}}.png" ng-class="{'trigger-word': triggerWord}" ng-style="style[5]" ng-if="trigger" class="slide">
    <img ng-src="../img/{{triggerWord}}.png" ng-class="{'trigger-word': triggerWord}" ng-style="style[6]" ng-if="trigger" class="slide">
    <img ng-src="../img/{{triggerWord}}.png" ng-class="{'trigger-word': triggerWord}" ng-style="style[7]" ng-if="trigger" class="slide">
    <img ng-src="../img/{{triggerWord}}.png" ng-class="{'trigger-word': triggerWord}" ng-style="style[8]" ng-if="trigger" class="slide">
    

      <div class="row row-bottom" ng-init="loadChat()">
        <div class="col">
          <div class="chatbox-container">
            <ul class="chatbox">
              <li class="message-item" ng-repeat="message in messages track by $index"><span class="user">{{ message.userName }} </span><br><span class="message">{{ message.text }}</span></li>
            </ul>
          </div>
          <form ng-submit="sendMessage()">
            <div class="item-input-inset" ng-switch="draw">
              <label ng-switch-when="false" class="item item-input-wrapper message-input">
                <input type="text" ng-model="message.text" placeholder="Send a message ..."/>
              </label>
              <div ng-switch-when="true" class="item-input-wrapper item" id="me" style="border:1px solid black;">
                <canvas id="can" ng-model="canvas" on-drag="touch()" height="inherit" width="inherit"></canvas>
                <txt-can></txt-can>
              </div>
              <!-- <button ng-click="draw = !draw" class="button button-medium icon ion-edit"></button> -->
              <button ng-click="toggleDrawView()" class="button button-medium icon ion-edit"></button>
            </div>
            <button class="button button-full button-calm" type="submit">Send</button>
          </form>
        </div>
      </div>
    </ion-content>
  </ion-view>
  <div class="list">
