  <ion-view view-title="Kwiki" ng-controller="ChatCtrl">
    <ion-nav-buttons side="primary">
      <button class="button button-energized" ng-click="leaveChat()">
        Leave
      </button>
    </ion-nav-buttons>
    <ion-content>

      <img ng-src="img/{{triggerWord}}.png" ng-style="styles[0]" ng-class="triggerWord" class="rain" ng-if="trigger">      
      <img ng-src="img/{{triggerWord}}.png" ng-style="styles[1]" ng-class="triggerWord" class="rain1" ng-if="trigger">      
      <img ng-src="img/{{triggerWord}}.png" ng-style="styles[2]" ng-class="triggerWord" class="rain2" ng-if="trigger">      
      <img ng-src="img/{{triggerWord}}.png" ng-style="styles[3]" ng-class="triggerWord" class="rain3" ng-if="trigger">      
      <img ng-src="img/{{triggerWord}}.png" ng-style="styles[4]" ng-class="triggerWord" class="rain4" ng-if="trigger">      
      <img ng-src="img/{{triggerWord}}.png" ng-style="styles[5]" ng-class="triggerWord" class="rain5" ng-if="trigger">      
      <img ng-src="img/{{triggerWord}}.png" ng-style="styles[6]" ng-class="triggerWord" class="rain6" ng-if="trigger">      
      <img ng-src="img/{{triggerWord}}.png" ng-style="styles[7]" ng-class="triggerWord" class="rain7" ng-if="trigger">
      <img ng-src="img/{{triggerWord}}.png" ng-style="styles[8]" ng-class="triggerWord" class="rain8" ng-if="trigger">
      <img ng-src="img/{{triggerWord}}.png" ng-style="styles[9]" ng-class="triggerWord" class="rain9" ng-if="trigger">

      <div class="row row-bottom" ng-init="loadChat()">
        <div class="col">
          <div class="chatbox-container">
            <ul class="chatbox">
              <li class="message-item" ng-repeat="message in messages track by $index"><span class="user">{{ message.userName }} </span><br><span class="message">{{ message.text }}</span></li>
            </ul>
          </div>
          <form ng-submit="sendMessage()">
            <div class="item-input-inset" ng-switch="draw">
              <label ng-switch-when="false" class="item item-input-wrapper message-input">
                <input type="text" ng-model="message.text" placeholder="Send a message ..."/>
              </label>
              <div ng-switch-when="true" class="item-input-wrapper item" id="me" style="border:1px solid black;">
                <canvas id="can" ng-model="canvas" on-drag="touch()" height="inherit" width="inherit"></canvas>
                <txt-can></txt-can>
              </div>
              <!-- <button ng-click="draw = !draw" class="button button-medium icon ion-edit"></button> -->
              <button ng-click="toggleDrawView()" class="button button-medium icon ion-edit"></button>
            </div>
            <button class="button button-full button-calm" type="submit">Send</button>
          </form>
        </div>
      </div>
    </ion-content>
  </ion-view>
  <div class="list">
