<ion-view ng-controller="MatchCtrl" view-title="Welcome">
<div class="bar bar-header">
  <button class="button icon ion-navicon"></button>
  <h1 class="title">Header Buttons</h1>
  <button class="button">Edit</button>
</div>

<!--   <ion-nav-buttons side="primary">
    <button class="button button-energized" ng-click="logOut()">
      Logout
    </button>
  </ion-nav-buttons>
 -->  <ion-content>
  
    <div id="matchbox-container" class="matchbox" ng-init="connect()">
      <form ng-submit="submit()">
        <div class="inputs">
          <input type="text" placeholder="Enter an address or zip" ng-model="$root.user.address" list="locations" class="matchbox-location">
          <datalist id="locations">
            <option value="CURRENT LOCATION">
          </datalist>
        </div>

        <div class="matchbox-button-container">
          <input type="submit" class="button button-energized matchbox-button" ng-disabled="disableButton" list="locations" value="Find me a kwiki">
        </div>
        
        <div class="list">
          <div class="item range range-positive">
            <span class="input-label">Distance: {{$root.user.search.distance | number : 1}} mi</span>
            <i class="icon ion-minus"></i>
            <input type="range" name="distance" min=0 max=10 value=5 step=0.1 ng-model="$root.user.search.distance">
            <i class="icon ion-plus"></i>
          </div>

        </div>
      </form>

  </ion-content>
</ion-view>
