<ion-view ng-controller="MatchCtrl" view-title="Welcome">
<div class="bar bar-header">
  <button class="button icon ion-navicon"></button>
  <h1 class="title">Header Buttons</h1>
  <button class="button">Edit</button>
</div>

<!--   <ion-nav-buttons side="primary">
    <button class="button button-energized" ng-click="logOut()">
      Logout
    </button>
  </ion-nav-buttons>
 -->  
    <div class="has-header">
      <ui-gmap-google-map center="map.center" zoom="map.zoom">
        <ui-gmap-marker idkey="1" coords="map.center"></ui-gmap-marker>
        <ui-gmap-circle center="map.center" radius="$root.user.search.distance * 1609.34" stroke="{weight: 0.1}" fill="{color: '#FF0000', opacity: 0.2}">
        </ui-gmap-circle>
      </ui-gmap-google-map>
    </div>
  <ion-content class="ionmap">
    <div id="matchbox-container" class="matchbox" ng-init="connect()">
      <form ng-submit="submit()">
        <div>
          <input type="text" placeholder="Enter an address or zip" ng-model="$root.user.address" list="locations" class="matchbox-location" value="CURRENT LOCATION">
          <datalist id="locations">
            <option value="CURRENT LOCATION">
          </datalist>
        </div>

        <div class="matchbox-button-container">
          <input type="submit" class="button button-energized matchbox-button" ng-disabled="disableButton" list="locations" value="Find me a kwiki">
        </div>
        
        <div class="list">
          <div class="item range range-positive">
            <span class="input-label">Distance: {{$root.user.search.distance | number : 1}} mi</span>
            <i class="icon ion-minus"></i>
            <input type="range" name="distance" min="0" max="5" step="0.1" ng-model="$root.user.search.distance">
            <i class="icon ion-plus"></i>
          </div>

        </div>
      </form>

  </ion-content>
</ion-view>
