<ion-view ng-controller="ProfileCtrl" view-title="Kwiki Profile Update">
  <ion-content>
    <div id="profilebox-container" class="profilebox">
      <div class="inputs">
          
        <form name="profileForm" ng-submit="handleSubmit(user)" novalidate>
          
          <div>
            What is your gender?
          </div>
          
          <div>
            <input ng-model="user.gender" class="profile gender" type="radio" name="gender" value="male">Male
            <input ng-model="user.gender" class="profile gender" type="radio" name="gender" value="female">Female
          </div>
          
          <div>
            Do you have a preference of your kwiki's gender?
          </div>
            
          <div>
            <input ng-model="user.prefGender" class="profile prefGender" type="radio" name="prefGender" value="male">Male
            <input ng-model="user.prefGender" class="profile prefGender" type="radio" name="prefGender" value="female">Female
            <input ng-model="user.prefGender" class="profile prefGender" type="radio" name="prefGender" value="either">Either
          </div>
          
          <div>
            What are your interests?
          </div>

          <div>
            <label>Sports:
              <input ng-model="user.interests.sports" type="checkbox" name="interests" class="profile interests">
            </label>
          </div>

          <div>
            <label>Beauty:
              <input ng-model="user.interests.beauty" type="checkbox" name="interests" class="profile interests">
            </label>
          </div>

          <div>
            <label>Other:
              <input ng-model="user.interests.other" type="checkbox" name="interests" class="profile interests">
            </label>
          </div>

          <div>
            <input type="submit" value="submit">
          </div>
          
        </form>
        <div>
          <a href="#/match">Back to Match</a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>




