<ion-view ng-controller="ProfileCtrl" view-title="Update Your Profile">
  <ion-content>

  <!-- I cant get this to work -->
  <!-- <div class="bar bar-subheader">
    <h2 class="title">Choose Your Match Preferences</h2>
  </div> -->

    <!-- Im not sure what these two lines do -->
    <!-- <div id="profilebox-container" class="profilebox"> -->
      <!-- <div class="inputs"> -->
          

        <form name="profileForm" ng-submit="handleSubmit(user)" novalidate>
          
          <div>
            What is your gender?
          </div>
          
          <div class="list">
            
            <label class="item item-radio">
              <input ng-model="user.gender" class="profile gender" type="radio" name="gender" value="male">
              <div class="item-content">
                Male
              </div>
              <i class="radio-icon ion-checkmark"></i>
            </label>

            <label class="item item-radio">
              <input ng-model="user.gender" class="profile gender" type="radio" name="gender" value="female">
              <div class="item-content">
                Female
              </div>
              <i class="radio-icon ion-checkmark"></i>
            </label>
          </div>
          
          <div>
            Do you have a preference of your kwiki's gender?
          </div>
            
          <div class="list">
            
            <label class="item item-radio">
              <input ng-model="user.prefGender" type="radio" name="prefGender" value="male">
              <div class="item-content">
                Male
              </div>
              <i class="radio-icon ion-checkmark"></i>
            </label>

            <label class="item item-radio">
              <input ng-model="user.prefGender" type="radio" name="prefGender" value="female">
              <div class="item-content">
                Female
              </div>
              <i class="radio-icon ion-checkmark"></i>
            </label>

            <label class="item item-radio">
              <input ng-model="user.prefGender" type="radio" name="prefGender" value="either">
              <div class="item-content">
                Either
              </div>
              <i class="radio-icon ion-checkmark"></i>
            </label>

          </div>
          
          <div>
            What are your interests?
          </div>

          <div>
            <ul class="list">
              <li class="item item-toggle">
                Sports
                <label class="toggle toggle-assertive">
                  <input ng-model="user.sports" type="checkbox" name="interests" class="profile interests">
                  <div class="track">
                    <div class="handle"></div>
                  </div>
                </label>
              </li>
              <li class="item item-toggle">
                Beauty
                <label class="toggle toggle-assertive">
                  <input ng-model="user.beauty" type="checkbox" name="interests" class="profile interests">
                  <div class="track">
                    <div class="handle"></div>
                  </div>
                </label>
              </li>
              <li class="item item-toggle">
                Other
                <label class="toggle toggle-assertive">
                  <input ng-model="user.other" type="checkbox" name="interests" class="profile interests">
                  <div class="track">
                    <div class="handle"></div>
                  </div>
                </label>
              </li>

            </ul>
          </div>

          <div>
            <input type="submit" value="submit" class="button button-block button-energized">
          </div>
  
        </form>

      </div>
    </div>
  </ion-content>
</ion-view>




